{% extends 'base.html' %}
{% block title %}
  	Договор
{% endblock %}
{% block content %}
	<h3 class="container py-3">
  		Оформить договор
	</h3>
	<div class="container py-1">
		<table class="table table-hover">
			<thead>
				<tr>
					<th scope="col">Пристройство</th>
                    <th scope="col">Добавлено</th>
                    <th scope="col">Собеседование</th>
				</tr>
			</thead>
			{% for object in page_object %}
			<tbody>
				<tr>
					<th scope="row">
                        <a href="{% url 'dogs:contract' object.id %}">{{ object }}</a>
                    </th>
					<td>{{ object.get_sobes_status_display }}</td>
					<td>{{ object.add_date|date:'d E Y' }} {{ object.add_date|time:"H:i" }}</td>
				</tr>
			</tbody>
			{% endfor %}
		</table>
		{% include 'dogs/includes/paginator.html' %}
	</div>
{% endblock %}
