{% extends 'base.html' %}
{% block title %}
    Информация о хозяине
{% endblock %}
{% block content %}
  <div class="container py-5">
    <div class="row">
      <aside class="col-12 col-md-4">
        {% comment %} <img src="{% static 'img/elite.jpg' %}" {% endcomment %}
        {% comment %} width="400" height="400"
        class="d-inline-block align-top" alt=""> {% endcomment %}
      </aside>
      <article class="col-12 col-md-8">
        <h3>
          {{ owner.name }}
          ({% if not contract_signed %}потенциальный {% endif %}хозяин)
        </h3>
        <ul>
          <li>
            Телефон: +7-{{ owner.tel|slice:':3' }}-{{ owner.tel|slice:'3:' }}
          </li>
          {% if owner.email %}
            <li>
              Email: {{ owner.email }}
            </li>
          {% endif %}
          {% if owner.passport_no %}
            <li>
              Паспорт: {{ owner.passport_no|slice:':4' }} {{ owner.passport_no|slice:'4:' }}<br>
              Кем выдан: {{ owner.passport_issued|default_if_none:"нет информации" }}<br>
              Когда выдан: {{ owner.passport_date|default_if_none:"нет информации" }}<br>
              Код подразделения: {{ owner.passport_code|default_if_none:"нет информации" }}<br>
            </li>
            <li>
              Адрес регистрации: {{ owner.address_reg|default_if_none:"нет информации" }}
            </li>
            <li>
              Адрес проживания: {{ owner.address_fact|default_if_none:"нет информации" }}
            </li>
          {% else %}
            Паспорт: нет информации
          {% endif %}
          <li>
            Карта Коммондор: {{ owner.discount_card|default_if_none:"нет" }}
          </li>
        </ul>
        {% if dogs %}
          <h3>Собак{% if dogs.count > 1 %}и{% else %}а{% endif %}</h3>
          <ul>
            {% for dog in dogs %}
                <li>
                    <a href="{% url 'dogs:profile_dog' dog.id %}">{{ dog.name }}</a>
                </li>
            {% endfor %}
          </ul>
        {% endif %}
        {% if adoptions %}
          <h3>Пристройств{% if adoptions.count > 1 %}а{% else %}о{% endif %}</h3>
          <ul>
            {% for adoption in adoptions %}
                <li>
                  <a href="{% url 'dogs:adoption_info' adoption.id %}">{{ adoption }}</a>
                  {% if not adoption.contract_signed %}(не состоялось){% endif %}
                </li>
            {% endfor %}
          </ul>
        {% endif %}
        <a class="btn btn-lg btn-secondary" href="{% url 'dogs:edit_owner' owner.id %}">Редактировать</a>
      </article>
    </div>     
  </div>
{% endblock %}