{% extends 'base.html' %}
{% block title %}
    Информация о хозяине
{% endblock %}
{% block content %}
  <div class="container py-5">
    <div class="row">
      <aside class="col-12 col-md-4">
        {% comment %} <img src="{% static 'img/elite.jpg' %}" {% endcomment %}
        {% comment %} width="400" height="400"
        class="d-inline-block align-top" alt=""> {% endcomment %}
      </aside>
      <article class="col-12 col-md-8">
        <h3>{{ owner.name }} (хозяин)
        </h3>
        <ul>
          <li>
            Телефон: +7({{ owner.tel|slice:':3' }}){{ owner.tel|slice:'3:' }}
          </li>
          {% if owner.email %}
            <li>
              Email: {{ owner.email }}
            </li>
          {% endif %}
          {% if owner.passport_no %}
            <li>
              Паспорт: {{ owner.passport_no|slice:':4' }} {{ owner.passport_no|slice:'4:' }}<br>
              Выдан: {{ owner.passport_date }}<br>
              {{ owner.passport_issued }}<br>
              Код подразделения: {{ owner.passport_code }}<br>
            </li>
            <li>
              Адрес регистрации: {{ owner.address_reg }}
            </li>
            <li>
              Адрес проживания: {{ owner.address_fact }}
            </li>
            <li>
              Номер карты Коммондор: {{ owner.discount_card }}
            </li>
          {% endif %}
        </ul>
        {% if dogs %}
          <h3>Собак{% if dogs.count > 1 %}и{% else %}а{% endif %}</h3>
          <ul>
            {% for dog in dogs %}
                <li>
                    <a href="{% url 'dogs:profile_dog' dog.id %}">{{ dog.name }}</a>
                </li>
            {% endfor %}
          </ul>
        {% endif %}
        <a class="btn btn-lg btn-secondary" href="{% url 'dogs:edit_owner' owner.id %}">Редактировать</a>
      </article>
    </div>     
  </div>
{% endblock %}